.about-me-sidebar {
  display: flex;
  transform: rotate(-90deg);
  height: 1rem;
  span {
    color: #efefef;
    font-size: 1rem;
    font-family: 'NunitoSans Regular';
  }
}

#about {
  padding-right: 20rem;
}
