.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.center-dot {
  position: absolute;
  height: 0.6rem;
  width: 0.6rem;
  background-color: #efefef;
  border-radius: 50%;
}
