.side-dot-animation {
  display: flex;
  align-items: center;
  position: fixed;
  right: 3.5rem;
  height: 100vh;
  width: 40px;
  background-color: transparent;
}

.side-dots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.85rem;
  width: 0.85rem;
}

.side-dot-filled {
  border-radius: 50%;
  background-color: #efefef;
  height: 0.85rem;
  width: 0.85rem;
}

@media (max-width: 480) {
  .side-dot-animation {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .side-dot-animation {
    transform: scale(0.8);
    right: 0rem;
  }
}
