h1 {
  font-size: 12rem;
  margin: 0;
  line-height: 0.8;
  font-family: 'Gabarito Bold';
}

.intro-sequence {
  z-index: 10;
  overflow: hidden;
  position: absolute;
}

.hero-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  gap: 4rem;
  margin: 0 10rem 0 4rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullstack {
  align-self: flex-start;
  padding-right: 6rem;
}

.developer {
  align-self: flex-end;
}

.tagline {
  margin: 0;
  font-size: 1.2rem;
  font-family: 'Gabarito Regular';
  align-self: flex-end;
}

.hero-image {
  border-radius: 2rem;
  height: 24rem;
  justify-self: center;
  align-self: center;
}
