.skills-container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  width: 100vw;
  padding-top: 5rem;
}

.skills-aside {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: rotate(-90deg) translateX(-18rem) translateY(-8rem);
  height: fit-content;
}

.skills-vertical {
  display: flex;
}

.skills-line-container {
  position: absolute;
  top: 50%;
}

.skills-line {
  width: 20rem;
  height: 0.1rem;
  background-color: #efefef;
  position: absolute;
}

#skills-my {
  display: inline-block;
  transform: translateX(-8rem);
}

#skills {
  display: inline-block;
  transform: translateX(12rem);
  font-weight: 900;
}

.skills-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: -4rem;
}

.skills-main-header {
  font-size: 3rem;
}

.web-dev-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding-bottom: 4rem;
  /* gap: 4rem; */
}

.main-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 3rem 2rem 3rem;
}

.skills-other-header {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
}

.other-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  padding-bottom: 4rem;
}

.small-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}
