.main-cursor,
.secondary-cursor {
  z-index: 10000;

  pointer-events: none;
  overflow: hidden;
  position: fixed;
}

.main-cursor {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.05, 1.2);
  mix-blend-mode: difference;

  .main-cursor-background {
    animation: scaleDown 0.4s cubic-bezier(0.23, 1, 0.05, 1.2) 0s forwards;
    width: 0.5rem;
    height: 0.5rem;
    background: #efefef;
    border-radius: 50%;
  }
}

.secondary-cursor {
  mix-blend-mode: difference;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.05, 1);

  .cursor-background {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #efefef;
    position: relative;
  }
}

.hover-name {
  .main-cursor {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    mix-blend-mode: normal;
  }

  .main-cursor-background {
    animation: scaleUp 0.4s cubic-bezier(0.23, 1, 0.05, 1.2) 0s forwards;
  }

  .secondary-cursor {
    animation: fadeOut 0.1s cubic-bezier(0.23, 1, 0.05, 1.2) 0s forwards;
  }
}

.nav-hover {
  .main-cursor {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    mix-blend-mode: difference;
  }

  .main-cursor-background {
    animation: scaleUpNav 0.4s cubic-bezier(0.23, 1, 0.05, 1.2) 0s forwards;
  }

  .secondary-cursor {
    animation: fadeOut 0.1s cubic-bezier(0.23, 1, 0.05, 1.2) 0s forwards;
  }

  .greeting {
    display: none;
  }
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
  font-family: 'Gabarito Regular';
  font-size: 2rem;
}

@keyframes scaleUp {
  from {
    background: #efefef;
  }

  to {
    height: 4rem;
    width: 4rem;
    background: linear-gradient(
      90deg,
      rgba(148, 165, 196, 1),
      rgba(220, 108, 95, 1)
    );
  }
}

@keyframes scaleUpNav {
  from {
    background: #efefef;
  }

  to {
    height: 4rem;
    width: 4rem;
  }
}

@keyframes scaleDown {
  from {
    height: 4rem;
    width: 4rem;
  }

  to {
    background: #efefef;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
