.contact-container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  width: 100vw;
  padding-top: 10rem;
}

.contact-aside {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: rotate(-90deg) translateX(-8rem) translateY(-8rem);
  height: fit-content;
}

.contact-vertical {
  display: flex;
}

.contact-line-container {
  position: absolute;
  top: 50%;
}

.contact-line {
  width: 20rem;
  height: 0.1rem;
  background-color: #efefef;
  position: absolute;
}

#contact {
  display: inline-block;
  transform: translateX(-20rem);
  font-weight: 900;
}

#contact-my {
  display: inline-block;
  transform: translateX(12rem);
}

.contact-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  height: 50%;
  width: 100%;
  font-size: 8rem;
  line-height: 10rem;

  h2 {
    padding-right: 11rem;
    font-weight: 900;
  }
}

.contact-links {
  display: flex;
  height: 50%;
  width: 100%;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10rem;
  gap: 1rem;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.email {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 50%;
  padding-right: 11rem;
  overflow: hidden;
}

.email-btn {
  border-radius: 5rem;
  border: 2px #efefef solid;
  background-color: #0f0f0f;
  font-size: 2.5rem;
  color: #efefef;
  font-weight: 500;
  height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all 0.2s ease-in-out;
}

.email-btn:hover {
  background-color: #efefef;
  color: #0f0f0f;
  transition: all 0.2s ease-in-out;
}

.social-btn {
  border: none;
  background-color: #0f0f0f;
  padding: 1rem;
  cursor: none;
}

.social-icon {
  transition: all 0.2s ease-in-out;
  cursor: none;
}

.social-icon:hover {
  transform: scale(0.85);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 767px) {
  .contact-container {
    display: grid;
    grid-template-columns: 3rem 1fr;
    height: 100vh;
    width: 100vw;
  }

  .contact-aside {
    transform: rotate(-90deg) translateX(-7rem) translateY(-11.5rem) scale(0.8);
    margin-left: 4.8rem;
  }

  .contact-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2rem;
    margin-top: 90%;
  }

  .contact-title {
    display: none;
  }

  .contact-links {
    display: flex;
    flex-direction: column;
    height: 40%;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 1rem;
    height: 100%;
    width: 100%;
  }

  .email {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .email-btn {
    font-size: 1rem;
    height: 4rem;
  }
}
