.project-details-container {
  margin: 0 5rem;
}

.project-details-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.home-nav {
  display: flex;
  align-items: center;
}

.project-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.home-btn {
  border: none;
  font-size: 0.8rem;
  background-color: transparent;
  color: #efefef;
  transition-property: font-stretch, background-color, font-size, font-weight,
    letter-spacing;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  width: 7rem;
  height: 3rem;
}

.home-btn:hover {
  font-weight: 900;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.pill-btn {
  background-color: #0f0f0f;
  color: #efefef;
  border: 1px #efefef solid;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.pill-btn:hover {
  background-color: #efefef;
  color: #0f0f0f;
  transition: all 0.2s ease-in-out;
}

.project-details-hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 10rem;
  padding: 18rem 15rem 5rem;
  p {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

.mobile-img-container {
  display: none;
}

.project-details {
  h2 {
    font-size: 6rem;
  }
}

.features-challenges-container {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 5rem 15rem;
}

.list-bold {
  font-weight: 900;
}

.info-block,
.tech-block {
  h3 {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    letter-spacing: 0.4rem;
  }
}

.info-block {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.info-item {
  font-size: 50rem;
  margin-bottom: 2rem;
  padding: 0;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.tech-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4rem;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 1rem;
  column-gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tech-bubble {
  border: 2px #efefef solid;
  padding: 0.3rem 0.6rem;
  border-radius: 2rem;
  text-align: center;
}

.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img-landscape {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .project-details-container {
    margin: 0 2rem;
  }

  .project-details-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .home-nav {
    display: flex;
    align-items: center;
  }

  .project-nav {
    column-gap: 1rem;
  }

  .home-btn {
    width: 2rem;
  }

  .pill-btn {
    font-size: 0.8rem;
    padding: 1rem;
  }

  .project-details-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 3rem;
    padding: 5rem 0;
    p {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      line-height: 2rem;
    }
  }

  .project-details {
    h2 {
      font-size: 3rem;
      padding-bottom: 2rem;
    }
  }

  .tech-block {
    display: flex;
    flex-direction: column-reverse;
  }

  .features-challenges-container {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    padding: 0;
    li {
      font-size: 1rem;
    }
  }

  .project-img-container {
    display: none;
  }

  .mobile-img-container {
    display: flex;
  }

  .project-img-portrait {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .project-details-container {
    margin: 0 2rem;
  }

  .project-details-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .home-nav {
    display: flex;
    align-items: center;
  }

  .project-nav {
    column-gap: 1rem;
  }

  .home-btn {
    width: 2rem;
  }

  .pill-btn {
    font-size: 0.8rem;
    padding: 1rem;
  }

  .project-details-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 3rem;
    padding: 5rem 0;
    p {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      line-height: 2rem;
    }
  }

  .project-details {
    h2 {
      font-size: 3rem;
      padding-bottom: 2rem;
    }
  }

  .tech-block {
    display: flex;
    flex-direction: column-reverse;
  }

  .features-challenges-container {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    padding: 0;
    li {
      font-size: 1rem;
    }
  }

  .project-img-container {
    display: none;
  }

  .mobile-img-container {
    display: flex;
    justify-content: center;
  }

  .project-img-portrait {
    width: 80%;
    height: auto;
    border-radius: 1rem;
  }
}
