nav {
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

h3 {
  font-size: 2.5rem;
  font-family: 'Gabarito Regular';
  margin: 0;
  padding-left: 2rem;
  color: #efefef;
}

.nav-btns {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}

.nav-btn {
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  background-color: transparent;
  color: #efefef;
  margin-right: 1rem;
}
