nav {
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

h3 {
  font-size: 2.5rem;
  font-family: 'Avenir';
  font-weight: 600;
  margin: 0;
  padding-left: 2rem;
  color: #efefef;
}

.nav-btns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-right: 2rem;
}

.nav-btn {
  border: none;
  font-size: 0.8rem;
  background-color: transparent;
  color: #efefef;
  transition-property: font-stretch, background-color, font-size, font-weight,
    letter-spacing;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  font-stretch: semi-expanded;
  width: 7rem;
  height: 3rem;
}

.nav-btn:hover {
  font-weight: 900;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.nav-btn:active {
  letter-spacing: 0;
}
