* {
  cursor: none;
}

body {
  margin: 0;
  color: #efefef;
  background-color: #0f0f0f;
}

.App {
  margin: 0;
}

a {
  cursor: none;
}

.slider-div {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 10000;
}
