@font-face {
  font-family: 'Avenir Light';
  src:
    local('Avenir'),
    url('./fonts/Avenir/Avenir-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Book';
  src:
    local('Avenir'),
    url('./fonts/Avenir/Avenir-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Roman';
  src:
    local('Avenir'),
    url('./fonts/Avenir/Avenir-Roman.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Medium';
  src:
    local('Avenir'),
    url('./fonts/Avenir/Avenir-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Black';
  src:
    local('Avenir'),
    url('./fonts/Avenir/Avenir-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Heavy';
  src:
    local('Avenir'),
    url('./fonts/Avenir/Avenir-Heavy.otf') format('opentype');
}

body {
  font-family: 'Avenir Light';
}
