.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #0f0f0f;
  color: white;
  cursor: none;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.05, 1);
  mix-blend-mode: difference;
}

.inside-circle {
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.05, 1.2);
  mix-blend-mode: difference;
}

.transitioning-inside {
  height: 0.8rem;
  width: 0.8rem;
  opacity: 0.6;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.05, 1.2);
  mix-blend-mode: difference;
}

.hidden {
  opacity: 0;
}
