h1 {
  font-size: 14rem;
  margin: 0;
  line-height: 0.76;
}

p {
  margin: 0;
  font-family: 'Gabarito Regular';
}

h2 {
  font-size: 4rem;
  font-family: 'Gabarito Bold';
  margin: 0;
}

.hero {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
}

/* .overlay {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('https://i.picsum.photos/id/100/2500/1656.jpg?hmac=gWyN-7ZB32rkAjMhKXQgdHOIBRHyTSgzuOK6U0vXb1w');
  background-position: center;
}

.overlay:after {
  content: '';
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png');
  height: 300%;
  width: 300%;
  position: fixed;
  opacity: 0.05;
  animation: animateGrain 8s steps(10) infinite;
} */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0rem 8rem;
  height: 48rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.tagline {
  font-size: 1.3rem;
  padding-bottom: 8rem;
}

@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }

  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}

.hero-image {
  border-radius: 2rem;
  height: 40rem;
  place-self: center;
}
