.projects-container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  width: 100%;
}

.projects-aside {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: rotate(-90deg) translateX(-24rem) translateY(-8rem);
  height: fit-content;
}

.projects-vertical {
  display: flex;
}

.projects-line-container {
  position: absolute;
  top: 50%;
}

.projects-line {
  width: 20rem;
  height: 0.1rem;
  background-color: #efefef;
  position: absolute;
}

#my {
  display: inline-block;
  transform: translateX(-8rem);
}

#works {
  display: inline-block;
  transform: translateX(12rem);
  font-weight: 900;
}

.projects-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.projects-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 9rem;
}

.project-title-container {
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.project-title {
  font-size: 7rem;
  font-weight: 500;
  margin: 0;
}

.project-title-container:hover {
  transform: translateX(1.7rem);
  transition: all 0.4s ease-in-out;
}

.mobile-descriptions {
  display: none;
}

.project-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #efefef;
  font-size: 1.5rem;
  gap: 1rem;
  padding-top: 5rem;
}

.project-image {
  height: 40rem;
  width: 32rem;
  background-color: #efefef;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
  .projects-container {
    display: grid;
    grid-template-columns: 3rem 1fr;
    height: 100vh;
    width: 100vw;
    margin-bottom: 4rem;
  }

  .projects-aside {
    transform: rotate(-90deg) translateX(-16rem) translateY(-11.5rem) scale(0.8);
    margin-left: 4.8rem;
  }

  .projects-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .projects-titles {
    gap: 4rem;
    padding-left: 0rem;
  }

  .project-title {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 0.4rem;
    margin: 0;
  }

  .project-title-container:hover {
    transform: translateX(0.5rem);
    transition: all 0.4s ease-in-out;
  }

  .project-description {
    display: none;
  }

  .mobile-descriptions {
    display: block;
    margin: 0;
    letter-spacing: 0.2rem;
    font-size: 0.65rem;
    padding-left: 0.2rem;
    margin-top: -0.8rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .projects-container {
    display: grid;
    grid-template-columns: 3rem 1fr;
    height: 100vh;
    width: 100vw;
    margin-bottom: 4rem;
  }

  .projects-aside {
    transform: rotate(-90deg) translateX(-20rem) translateY(-11.5rem);
    margin-left: 3rem;
  }

  .projects-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .projects-titles {
    gap: 4rem;
    padding-left: 1rem;
  }

  .project-title {
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: 0.4rem;
    margin: 0;
  }

  .project-title-container:hover {
    transform: translateX(0.8rem);
    transition: all 0.4s ease-in-out;
  }

  .project-description {
    display: none;
  }

  .mobile-descriptions {
    display: block;
    margin: 0;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    padding-left: 0.2rem;
    margin-top: -0.8rem;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .projects-container {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    width: 100vw;
  }

  .projects-aside {
    transform: rotate(-90deg) translateX(-20rem) translateY(-10rem);
  }

  .projects-titles {
    gap: 0rem;
    padding-left: 4rem;
    justify-self: center;
  }

  .project-title-container {
    overflow: hidden;
    transition: all 0.4s ease-in-out;
  }

  .project-title {
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
  }

  .project-title-container:hover {
    transform: translateX(1.7rem);
    transition: all 0.4s ease-in-out;
  }

  .mobile-descriptions {
    display: none;
  }

  .project-description {
    display: none;
  }

  .mobile-descriptions {
    display: block;
    margin: 0;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    padding-left: 0.2rem;
    margin-top: -0.8rem;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .projects-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 18rem;
    gap: 20rem;
    grid-template-columns: none;
  }

  .projects-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-left: 2rem;
  }

  .project-title {
    font-size: 4.5rem;
    font-weight: 500;
    margin: 0;
  }

  .project-title-container:hover {
    transform: translateX(1rem);
    transition: all 0.4s ease-in-out;
  }

  .project-description {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #efefef;
    font-size: 1.2rem;
    gap: 1rem;
    padding-top: 5rem;
    padding-right: 3.5rem;
  }

  .project-image {
    height: 30rem;
    width: 24rem;
    background-color: #efefef;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
  }
}
