.projects-container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  width: 100vw;
}

.projects-aside {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: rotate(-90deg) translateX(-24rem) translateY(-8rem);
  height: fit-content;
}

.projects-vertical {
  display: flex;
}

.projects-line-container {
  position: absolute;
  top: 50%;
}

.projects-line {
  width: 20rem;
  height: 0.1rem;
  background-color: #efefef;
  position: absolute;
}

#my {
  display: inline-block;
  transform: translateX(-8rem);
}

#works {
  display: inline-block;
  transform: translateX(12rem);
  font-weight: 900;
}

.projects-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.projects-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 9rem;
}

.project-title-container {
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.project-title {
  font-size: 7rem;
  font-weight: 500;
  margin: 0;
}

.project-title-container:hover {
  transform: translateX(1.7rem);
  transition: all 0.4s ease-in-out;
}

.project-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #efefef;
  font-size: 1.5rem;
  gap: 1rem;
}

.project-image {
  height: 32.5rem;
  width: 26rem;
  background-color: #efefef;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}
